# redirect to public page
<IfModule mod_rewrite.c>
    RewriteEngine On


    RewriteCond %{REQUEST_URI} !^public$
    RewriteCond %{REQUEST_URI} !^/.well-known/acme-challenge [NC]
    RewriteRule "^(.*)$" "/public/" [R=301,L]

    # If you installed CodeIgniter in a subfolder, you will need to
    # change the following line to match the subfolder you need. Uncomment
    # the line below and comment the line above.
    #RewriteRule "^(.*)$"  "/[SUBDIRECTORY]/public/" [R=301,L]

    RewriteCond %{REQUEST_URI} !^public$
    RewriteCond %{REQUEST_URI} !^/.well-known/acme-challenge [NC]
    RewriteRule "^(.*)$" "/public/" [R=301,L]
 mpesa/dependabot/npm_and_yarn/ajv-6.12.6
</IfModule>

# disable directory browsing
# For security reasons, Option all cannot be overridden.

Options +SymLinksIfOwnerMatch -Indexes
Options +ExecCGI +Includes +IncludesNOEXEC +SymLinksIfOwnerMatch -Indexes
mpesa/dependabot/npm_and_yarn/ajv-6.12.6

# prevent folder listing
IndexIgnore *

<IfModule mod_headers.c>
  Header always set X-Frame-Options "SAMEORIGIN"
</Ifmodule>

# Apache 2.4
 mpesa/dependabot/npm_and_yarn/ajv-6.12.6
<IfModule authz_core_module>
  # secure htaccess file
  <Files .htaccess>
    Require all denied
  </Files>

  # prevent access to PHP error log
  <Files error_log>
    Require all denied
  </Files>

  # prevent access to LICENSE
  <Files LICENSE>
    Require all denied
  </Files>

  # prevent access to csv, txt and md files
  <FilesMatch "\.(csv|txt|md|yml|json|lock)$">
    Require all denied
  </FilesMatch>
</IfModule>


# Apache 2.2
<IfModule !authz_core_module>
  # secure htaccess file
  <Files .htaccess>
    Order allow,deny
    Deny from all
    Satisfy all
  </Files>

  # prevent access to PHP error log
  <Files error_log>
    Order allow,deny
    Deny from all
    Satisfy all
  </Files>

  # prevent access to LICENSE
  <Files LICENSE>
    Order allow,deny
    Deny from all
    Satisfy all
  </Files>

  # prevent access to csv, txt and md files
  <FilesMatch "\.(csv|txt|md|yml|json|lock)$">
    Order allow,deny
    Deny from all
    Satisfy all
  </FilesMatch>
</IfModule>
mpesa/dependabot/npm_and_yarn/ajv-6.12.6
